@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#222c31, #111d32);
  color: #d9e2f1;
  min-height: 100vh;
}

/*_________________ Hero Section _________________*/
#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 40rem;
  margin: 2rem auto;
  color: #fff;

  & #hero-img {
    display: block;
    width: 80%;
    height: 60vh;
    margin: 2rem auto;
    object-fit: cover;
  }

  & h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    color: #5b92ac;
  }

  & button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #0e425a;
    color: #fff;
    font-size: 0.95rem;
    border-radius: 10px 1px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all ease-in;
    letter-spacing: 0.5px;

    &:hover {
      background-color: #0e5779;
    }
  }
}

#welcome-header {
  height: 100vh;

  & #city-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  & #hero-image {
    width: 40rem;
    max-width: 40%;
    position: absolute;
    bottom: 5%;
    left: 5%;
    object-fit: cover;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5));
  }

  & #welcome-header-content {
    width: 40rem;
    position: absolute;
    top: 25%;
    left: calc(50% - 20rem);
    z-index: 1;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    text-align: center;

    & h1 {
      font-size: 3rem;
      color: #fff;
      margin: 2rem 0;
    }
  }

  /*---- Get Started Button ----*/
  & #cta-link {
    display: inline-block;
    padding: 0.6rem 1.1rem;
    background-color: #003046;
    color: #fff;
    border-radius: 10px 1px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #026391;
    }
  }
}

/*_________________ Welcome Content _________________*/
#welcome-content {
  & section {
    margin: 6rem 0;
  }

  & h2 {
    font-size: 2.5rem;
    margin: 2rem 0;
    color: #f2f25d;
  }
}

/*_________________ New Challenge _________________*/
main {
  width: 80%;
  max-width: 40rem;
  margin: 1rem auto;
}

#new-challenge {
  & label {
    display: block;
    margin-bottom: 0.15rem;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: 'Quicksand', sans-serif;
    color: #084e6e;
  }

  & input,
  & textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #b3ccd8;
    background-color: #fff;
    color: #040f27;
    font-size: 0.9rem;
    font-family: 'Quicksand', sans-serif;
    resize: none;
    outline: none;

    &:focus {
      border-color: #084e6e;
    }
  }

  & #new-challenge-images {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, 3rem);
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      width: 3.1rem;
      height: 3.1rem;
      border-radius: 50%;
      border: 3px solid #dde3e6;
      outline: 1px solid #084e6e;

      &.selected {
        width: 3.3rem;
        height: 3.3rem;
        border: 3px solid #f8e002;
        outline: none;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  & .new-challenge-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;

    & .add-challenge {
      background-color: #003046;
      color: #fff;
      transition: all 0.2s ease-in;
      border-radius: 10px 1px;
      cursor: pointer;
      outline: none;
      border: none;
      padding: 0.7rem 0.9rem;

      &:hover {
        background-color: #026391;
      }
    }

    & .cancel-challenge {
      color: #003046;
      transition: all 0.2s ease-in;
      border-bottom: 1px solid transparent;
      padding-inline: 5px;
      margin-right: 0.2rem;
      outline: none;
      border: none;
      background: transparent;
      cursor: pointer;

      &:hover {
        color: #ca1c96;
        border-bottom: 1px solid #ca1c96;
        border-radius: 0;
      }
    }
  }
}

/*_________________ New Challenge _________________*/
#challenges {
  background-color: #22323a;
  padding: 1rem;
  border-radius: 6px;

  & #tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 1rem;
    gap: 1.3rem;

    & button {
      padding: 0.7rem 0.45rem;
      text-align: left;
      cursor: pointer;
      /* border-radius: 4px 4px 0 0; */
      background-color: transparent;
      color: #5b92ac;
      border: none;
      box-shadow: none;
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in;

      &:hover,
      &.selected {
        /* background-color: #355767; */
        color: #fff;
      }
    }

    & .active-tab-indicator {
      border: 1.5px solid #026391;
    }
  }

  & .challenge-items {
    width: 100%;
    max-width: 90%;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    list-style: none;
    margin: 2rem 0 0 0;
    padding: 0;

    & .challenge-item {
      width: 100%;

      & header {
        display: flex;
        gap: 1.2rem;
        align-items: flex-start;

        & h2 {
          margin: 0 0 0.3rem;
          font-size: 1.4rem;
          color: #3789af;
        }

        & p {
          margin-top: 0;
          font-family: 'Quicksand', sans-serif;
          font-size: 0.8rem;
        }
      }

      & .challenge-item-meta {
        width: 100%;
      }

      & .challenge-item-actions {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;

        & button {
          font: inherit;
          background: transparent;
          border: none;
          color: #77a4b9;
          padding: 0 0 5px;
          font-size: 0.85rem;
          border-bottom: 1px solid transparent;
          transition: all 0.2s ease-in;
          cursor: pointer;

          &:hover {
            color: #27a2db;
            border-bottom: 1px solid #0374a8;
            border-radius: 0;
          }
        }

        & .btn-negative {
          color: #ff7b7b;
          cursor: pointer;

          &:hover {
            color: #ff4f4f;
            border-bottom: 1px solid #ff4f4f;
          }
        }
      }

      & img {
        width: 4.2rem;
        height: 4.2rem;
        object-fit: cover;
      }

      & .challenge-item-details {
        & button {
          cursor: pointer;
          font: inherit;
          background: transparent;
          border: none;
          color: #77a4b9;
          padding: 0;
        }

        /*--- details-icon ---*/
        & .challenge-item-details-icon {
          display: inline-block;
          font-size: 0.9rem;
          margin-left: 0.55rem;
          /* transition: transform 0.3s ease-in; */
        }

        /* &.expanded .challenge-item-details-icon {
          transform: rotate(180deg);
        } */

        & .challenge-item-description {
          margin: 0;
        }
      }
    }
  }
}

/*_________________ Modal _________________*/
.modal {
  top: 20%;
  border-radius: 30px 1px;
  padding: 1.5rem;
  width: 30rem;
  max-width: 90%;
  z-index: 10;
  /* animation: slideUp-fadeIn 0.4s ease-in forwards; */

  & h2 {
    margin-top: 0;
  }
}

/* @keyframes slideUp-fadeIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 9;
}

/*_________________ badge _________________*/
.badge {
  margin-left: 0.5rem;
  padding: 0.45rem 0.8rem;
  border-radius: 7px 1px;
  background-color: #0e425a;
  color: #fff;
  font-size: 0.8rem;
  border: 1px solid #3e5e6d;
}
